<form  METHOD="gey" ACTION="{{ path('Question_new') }}">

<p><ol><h2><stong>Titre </strong> </h2>
<input type="texte" id="form_age" name="Titre" required="required" value="" /></ol>
</p>
<p>
<h2><ol><stong>les Choix </strong> </h2>
<p><ol><h5> Choix 1</h5> <input type="texte" id="form_age" name="choix" required="required" value="" /></ol></p>
<p><ol><h5> Choix 2</h5><input type="texte" id="form_age" name="choix" required="required" value="" /></ol></p>
<p><ol><h5> Choix 3</h5><input type="texte" id="form_age" name="choix" required="required" value="" /></ol></p>
<p><ol><h5> Choix 4</h5><input type="texte" id="form_age" name="choix" required="required" value="" /></ol></p>
<p><ol><h5> Choix 5</h5><input type="texte" id="form_age" name="choix" required="required" value="" /></ol></p>
</ol>
</p>
<p>
<h2><ol><stong>Reponse </strong> </h2></ol>
<ol><input type="texte" id="form_age" name="Reponse" required="required" value="" /></ol>
</p>

<div><label for="question_quizz" class="required">Quizz</label><select id="question_quizz" name="question[quizz]"><option value="1">Quiz1</option>
<option value="1">Quiz1</option>
<option value="2">Quiz2</option>
<option value="3">Quiz3</option>
<option value="4">Quiz4</option></select></div>

<button class="btn btn-primary" type="submit">Enregistrer <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
  <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
</svg></button>


</form>
