<section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="assets/images/bg/bg6.jpg" style="background-image: url(&quot;images/bg/bg6.jpg&quot;); background-position: 50% 58px;">
    <div class="container pt-70 pb-20">
      <!-- Section Content -->
      <div class="section-content">
        <div class="row">
          <div class="col-md-12">
            <h2 class="title text-white text-center">ENSEINGNANTS</h2>
            <ol class="breadcrumb text-left text-black mt-10">
              <li><a href="#">Home</a></li>
              <li><a href="#">Pages</a></li>
              <li class="active text-gray-silver">Page Title</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>